# BAZA DANYCH (PostgreSQL + pgvector)
DATABASE_URL=postgresql+asyncpg://postgres:qwerty123@localhost:5434/salon

# BEZPIECZEŃSTWO
SECRET_KEY=change-this-to-random-secret-key-min-32-chars
DEBUG=true
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

